<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.heart.dao.HeartBCheckMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.heart.entity.HeartBCheck">
                    <id column="id" property="id"/>
                    <result column="username" property="username"/>
                    <result column="file_no" property="fileNo"/>
                    <result column="name" property="name"/>
                    <result column="jhdb" property="jhdb"/>
                    <result column="jgdb" property="jgdb"/>
                    <result column="ckmb" property="ckmb"/>
                    <result column="cmjgdb" property="cmjgdb"/>
                    <result column="hxbjs" property="hxbjs"/>
                    <result column="xhdb" property="xhdb"/>
                    <result column="bxbjs" property="bxbjs"/>
                    <result column="zxlxbbfb" property="zxlxbbfb"/>
                    <result column="xxbjs" property="xxbjs"/>
                    <result column="ph" property="ph"/>
                    <result column="rs" property="rs"/>
                    <result column="be" property="be"/>
                    <result column="so2" property="so2"/>
                    <result column="po2" property="po2"/>
                    <result column="pco2" property="pco2"/>
                    <result column="xjg" property="xjg"/>
                    <result column="alt" property="alt"/>
                    <result column="ast" property="ast"/>
                    <result column="zdhs" property="zdhs"/>
                    <result column="zjdhs" property="zjdhs"/>
                    <result column="dfm" property="dfm"/>
                    <result column="d2jt" property="d2jt"/>
                    <result column="fdp" property="fdp"/>
                    <result column="pt" property="pt"/>
                    <result column="aptt" property="aptt"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, username, file_no, name, jhdb, jgdb, ckmb, cmjgdb, hxbjs, xhdb, bxbjs, zxlxbbfb, xxbjs, ph, rs, be, so2, po2, pco2, xjg, alt, ast, zdhs, zjdhs, dfm, d2jt, fdp, pt, aptt, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateHeartBCheck" parameterType="cc.mrbird.febs.heart.entity.HeartBCheck">
        update heart_b_check
        <trim prefix="set" suffixOverrides=",">
<if test="username != null">username=#{username},</if>
<if test="fileNo != null">file_no=#{fileNo},</if>
<if test="name != null">name=#{name},</if>
<if test="jhdb != null">jhdb=#{jhdb},</if>
<if test="jgdb != null">jgdb=#{jgdb},</if>
<if test="ckmb != null">ckmb=#{ckmb},</if>
<if test="cmjgdb != null">cmjgdb=#{cmjgdb},</if>
<if test="hxbjs != null">hxbjs=#{hxbjs},</if>
<if test="xhdb != null">xhdb=#{xhdb},</if>
<if test="bxbjs != null">bxbjs=#{bxbjs},</if>
<if test="zxlxbbfb != null">zxlxbbfb=#{zxlxbbfb},</if>
<if test="xxbjs != null">xxbjs=#{xxbjs},</if>
<if test="ph != null">ph=#{ph},</if>
<if test="rs != null">rs=#{rs},</if>
<if test="be != null">be=#{be},</if>
<if test="so2 != null">so2=#{so2},</if>
<if test="po2 != null">po2=#{po2},</if>
<if test="pco2 != null">pco2=#{pco2},</if>
<if test="xjg != null">xjg=#{xjg},</if>
<if test="alt != null">alt=#{alt},</if>
<if test="ast != null">ast=#{ast},</if>
<if test="zdhs != null">zdhs=#{zdhs},</if>
<if test="zjdhs != null">zjdhs=#{zjdhs},</if>
<if test="dfm != null">dfm=#{dfm},</if>
<if test="d2jt != null">d2jt=#{d2jt},</if>
<if test="fdp != null">fdp=#{fdp},</if>
<if test="pt != null">pt=#{pt},</if>
<if test="aptt != null">aptt=#{aptt},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>