<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.heart.dao.HeartBCheckfourMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.heart.entity.HeartBCheckfour">
                    <id column="id" property="id"/>
                    <result column="username" property="username"/>
                    <result column="file_no" property="fileNo"/>
                    <result column="name" property="name"/>
                    <result column="xjg" property="xjg"/>
                    <result column="alt" property="alt"/>
                    <result column="ast" property="ast"/>
                    <result column="zdhs" property="zdhs"/>
                    <result column="zjdhs" property="zjdhs"/>
                    <result column="dfm" property="dfm"/>
                    <result column="jg" property="jg"/>
                    <result column="nsd" property="nsd"/>
                    <result column="ns" property="ns"/>
                    <result column="bdb" property="bdb"/>
                    <result column="gysc" property="gysc"/>
                    <result column="sxqlgl" property="sxqlgl"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, username, file_no, name, xjg, alt, ast, zdhs, zjdhs, dfm, jg, nsd, ns, bdb, gysc, sxqlgl, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, display_index
    </sql>
    <update id="updateHeartBCheckfour" parameterType="cc.mrbird.febs.heart.entity.HeartBCheckfour">
        update heart_b_checkfour
        <trim prefix="set" suffixOverrides=",">
<if test="username != null">username=#{username},</if>
<if test="fileNo != null">file_no=#{fileNo},</if>
<if test="name != null">name=#{name},</if>
<if test="xjg != null">xjg=#{xjg},</if>
<if test="alt != null">alt=#{alt},</if>
<if test="ast != null">ast=#{ast},</if>
<if test="zdhs != null">zdhs=#{zdhs},</if>
<if test="zjdhs != null">zjdhs=#{zjdhs},</if>
<if test="dfm != null">dfm=#{dfm},</if>
<if test="jg != null">jg=#{jg},</if>
<if test="nsd != null">nsd=#{nsd},</if>
<if test="ns != null">ns=#{ns},</if>
<if test="bdb != null">bdb=#{bdb},</if>
<if test="gysc != null">gysc=#{gysc},</if>
<if test="sxqlgl != null">sxqlgl=#{sxqlgl},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>