<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.heart.dao.HeartBCsfcMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.heart.entity.HeartBCsfc">
                    <id column="id" property="id"/>
                    <result column="username" property="username"/>
                    <result column="file_no" property="fileNo"/>
                    <result column="name" property="name"/>
                    <result column="check_date" property="checkDate"/>
                    <result column="file_name" property="fileName"/>
                    <result column="file_url" property="fileUrl"/>
                    <result column="avr" property="avr"/>
                    <result column="mvr" property="mvr"/>
                    <result column="sbydycwz" property="sbydycwz"/>
                    <result column="xbjy" property="xbjy"/>
                    <result column="ef" property="ef"/>
                    <result column="zsszwnj" property="zsszwnj"/>
                    <result column="zdmbhzj" property="zdmbhzj"/>
                    <result column="zdmdzj" property="zdmdzj"/>
                    <result column="sdmdzj" property="sdmdzj"/>
                    <result column="szdmdzj" property="szdmdzj"/>
                    <result column="csjcsj" property="csjcsj"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="display_index" property="displayIndex"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, username, file_no, name, check_date, file_name, file_url, avr, mvr, sbydycwz, xbjy, ef, zsszwnj, zdmbhzj, zdmdzj, sdmdzj, szdmdzj, csjcsj, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, display_index
    </sql>
    <update id="updateHeartBCsfc" parameterType="cc.mrbird.febs.heart.entity.HeartBCsfc">
        update heart_b_csfc
        <trim prefix="set" suffixOverrides=",">
<if test="username != null">username=#{username},</if>
<if test="fileNo != null">file_no=#{fileNo},</if>
<if test="name != null">name=#{name},</if>
<if test="checkDate != null">check_date=#{checkDate},</if>
<if test="fileName != null">file_name=#{fileName},</if>
<if test="fileUrl != null">file_url=#{fileUrl},</if>
<if test="avr != null">avr=#{avr},</if>
<if test="mvr != null">mvr=#{mvr},</if>
<if test="sbydycwz != null">sbydycwz=#{sbydycwz},</if>
<if test="xbjy != null">xbjy=#{xbjy},</if>
<if test="ef != null">ef=#{ef},</if>
<if test="zsszwnj != null">zsszwnj=#{zsszwnj},</if>
<if test="zdmbhzj != null">zdmbhzj=#{zdmbhzj},</if>
<if test="zdmdzj != null">zdmdzj=#{zdmdzj},</if>
<if test="sdmdzj != null">sdmdzj=#{sdmdzj},</if>
<if test="szdmdzj != null">szdmdzj=#{szdmdzj},</if>
<if test="csjcsj != null">csjcsj=#{csjcsj},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="displayIndex != null">display_index=#{displayIndex},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>